@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f8fafc;
  color: #1e293b;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

.dark {
  background: #0f172a;
  color: #f1f5f9;
}
